/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.aurakai.romtools.api

import dev.aurakai.romtools.model.BootAnalysisResult

import dev.aurakai.romtools.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BootImageAnalysisApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter analysisLevel
     */
    @Serializable
    enum class AnalysisLevelAnalyzeBootImage(val value: kotlin.String) {
        
        @SerialName(value = "basic")
        basic("basic"),
        
        @SerialName(value = "detailed")
        detailed("detailed"),
        
        @SerialName(value = "security")
        security("security")
        
    }

    /**
     * Analyze boot image
     * Performs comprehensive analysis of Android boot.img files
     * @param bootImage Boot image file to analyze
     * @param analysisLevel Level of analysis to perform (optional, default to detailed)
     * @return BootAnalysisResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun analyzeBootImage(bootImage: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>, analysisLevel: AnalysisLevelAnalyzeBootImage? = AnalysisLevelAnalyzeBootImage.detailed): HttpResponse<BootAnalysisResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                bootImage?.apply { append(bootImage) }
                analysisLevel?.apply { append("analysisLevel", analysisLevel.value) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/boot-image/analyze",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
