/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.aurakai.romtools.api

import dev.aurakai.romtools.model.DataveinAnalysisResult

import dev.aurakai.romtools.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DataveinConstructorApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter analysisType
     */
    @Serializable
    enum class AnalysisTypeDataveinAnalyze(val value: kotlin.String) {
        
        @SerialName(value = "structure")
        structure("structure"),
        
        @SerialName(value = "security")
        security("security"),
        
        @SerialName(value = "performance")
        performance("performance"),
        
        @SerialName(value = "compatibility")
        compatibility("compatibility")
        
    }

    /**
     * DataveinConstructor analysis
     * Advanced ROM analysis using DataveinConstructor AI
     * @param romFile ROM file for analysis
     * @param analysisType  (optional, default to structure)
     * @return DataveinAnalysisResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dataveinAnalyze(romFile: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>, analysisType: AnalysisTypeDataveinAnalyze? = AnalysisTypeDataveinAnalyze.structure): HttpResponse<DataveinAnalysisResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                romFile?.apply { append(romFile) }
                analysisType?.apply { append("analysisType", analysisType.value) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/datavein/analyze",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
